<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login--Personal Resource Manager</title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}"></link>
	<link rel="stylesheet" th:href="@{/custom/css/login.css}"></link>
</head>
<body>
	<form class="layui-form"  th:action="@{/login}"  method="post">
		<div class="layui-form-item form_item1" >
		    <div class="layui-inline">
		      <label class="layui-form-label m_label">用户名:</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="userName"  lay-verify="required" autocomplete="off" class="layui-input">
		      </div>
		    </div>
		</div>
		<div class="layui-form-item form_item2" >
		    <div class="layui-inline">
		      <label class="layui-form-label m_label">密码:</label>
		      <div class="layui-input-inline">
		        <input type="password" name="password" lay-verify="required" autocomplete="off" class="layui-input">
		      </div>
		    </div>
		</div>
		<div class="layui-form-item form_item3" >
			<div class="layui-inline">
			 	<label class="layui-form-label m_label"></label>
			    <div class="layui-input-inline">
			        <input type="submit" value="登录" class="layui-btn layui-btn-normal" />
			    </div>
		   </div>
		</div>
	</form>
</body>
</html>