<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>账号管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="layui/css/layui.css"  media="all">
</head>
<body style="overflow-y: scroll;">  
	<div class="layui-btn-group">
	  <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="add()">
	    <i class="layui-icon">&#xe654;</i>
	  </button>
	  <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteAccount()">
	    <i class="layui-icon">&#xe640;</i>
	  </button>
	</div>
	<table class="layui-table" id="grid" ></table> 
	<script type="text/html" id="barDemo">
 	 	 <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
 		 <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	</script>               
	<script src="layui/layui.all.js" charset="utf-8"></script>
	<script src="asset/js/jquery.min.js" charset="utf-8"></script>
	<script>
		var lay_table = layui.table;
		var layer = layui.layer;
		var tableIns = lay_table.render({
			elem:"#grid",
		 	id:"grid",
		 	url:"/queryAccounts",
		 	cols:[
		 			[
		 				{type:'checkbox'},
				 		{field:'appName', sort: true, title:"应用名称"},
				 		{field:'loginName',sort: true,title:"登录名"},
				 		{field:'loginPwd',title:"密码"},
				 		{fixed: 'right', align:'center', toolbar: '#barDemo'}
	 				]
		 		]
		}); 
		function add(){
			layer.open({
				  type: 2,
				  title: '新增账号信息',
				  shadeClose: true,
				  shade: 0.3,
				  area: ['400px', '70%'],
				  content: '/toAdd'
				}); 
		}
		function deleteAccount(){
			layer.confirm('确定要删除吗？', function(index){
				  layer.close(index);
				  var checkStatus = lay_table.checkStatus('grid'); //grid即为基础参数id对应的值
				  var accounts = checkStatus.data;//获取选中行的数据
			      if(accounts.length<=0){
			    	  layer.alert("请先选择数据！");
			    	  return;
			      }
			      $.ajax({
			    	  url:"/delete",
			    	  dataType: 'json',
			    	  type: 'POST',
			    	  // headers必须添加，否则会报415错误
			    	  headers: {
			    	      'Accept': 'application/json',
			    	      'Content-Type': 'application/json'
			    	  },
			    	  data:JSON.stringify(accounts),
			    	  success:function(data){
			    		  if(data==true){
			    			  layer.msg("删除成功！",{icon: 1});
				    		  tableIns.reload();
			    		  }else{
			    			  layer.msg("删除成功！",{icon: 2});
			    		  }
			    		  
			    	  },
			    	  error:function(){
			    		  layer.msg("删除成功！",{icon:2});
			    	  }
			      });
			 });
		} 
		function closeLayer(){
			layer.closeAll();
			tableIns.reload();
			layer.msg("增加成功！",{icon: 1});
		}
		
	</script>

</body>
</html>