.font-14{
    font-size: 14px;
    font-family:Microsoft YaHei
}
.font-16{
    font-size: 16px;
    font-family:Microsoft YaHei
}
.font-18{
    font-size: 18px;
    font-family:Microsoft YaHei
}
.font-20{
    font-size: 20px;
    font-family:Microsoft YaHei
}
#content{
    background-color: #e8e8e8;
    overflow: hidden;
}
#c_container{
    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-top: 1%;
}